.team-members {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;

  .team-member {
    padding: 10px;
    background: #212121;
    border-radius: 5px;
    position: relative;

    &:hover {
      .team-image {
        transform: translateY(60px);
      }
    }
  }

  .team-image {
    width: 100%;
    height: auto;
    border-radius: 5px;
    overflow: hidden;
    transition: transform 0.5s ease;
    position: relative;
    z-index: 2;
  }

  .person-name {
    font-weight: 500;
  }
  
  .team-member-title {
    font-size: 15px;
  }

  a {
    position: absolute;
    top: 16px;
    left: 16px;

    img {
      width: 25px;
      height: 25px;
    }
  }
}


@media (max-width: 991px) {
  .team-members {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 767px) {
  .team-members {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
}